<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intital-scale=1.0">
    <title>Git Jokes</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="head">
            <div>
                <nav class="nav">
                  
                    <!-- <a class ="no-button" href="/" id="logout">Logout</a> -->
                
                    <a class="no-button" href="/login">Login</a>
                </nav>
            </div>
        <h1 class="title">Git Jokes</h1>
    </header>

        <main>
            {{{body}}}
        </main>
    </div>
    <!-- Similar to mini project main.handlebars -->

  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>