<div class="row">
    <div class="col-4">
        <h3 class="title">Categories</h3>
          {{#each categories as |category|}}
          <ul>{{category.category_name}}<br>{{category.joke.joke_text}}</ul>
        {{/each}}
    </div>
</div>
