
<div class="row center">
    <div class="col-4 ">
        <div class="row">
    <div class="col-4 center categories ">
        <h3 class="title ">Categories</h3>
            <ul><a href="/api/jokes/dry">Dry</a></ul>
            <ul><a href="/api/jokes/weird">Weird</a></ul>
            <ul><a href="/api/jokes/developer">Developer</a></ul>
            <ul><a href="/api/jokes/old">Old</a></ul>
            <ul><a href="/api/jokes/dadjokes">Dad Jokes</a></ul>
            <ul><a href="/api/jokes/animal">Animal</a></ul>
    </div>
</div>
    </div>

<div class="col-8">
    
    <h2 class="title">Jokes:</h2> 
    
    {{#if jokes.length}}
     {{#each jokes as |joke|}}
     <div class="post">
        <h5>{{user.username}}'s Joke:</h5>
        <h4>{{joke.joke_text}}</h4><br>
        </div>
    {{/each}}
{{/if}}
</div>
</div>

