{{#if jokes.length}}
<section>
    <h2>Jokes:</h2>
     {{#each jokes as |joke|}}   
    <h4>{{joke.joke_text}}</h4>
        
{{/each}}
</section>
{{/if}}

<button type="submit" class="btn"><a class ="link" href="/jokes">New Joke</a></button>
<input id="thing" type="button" value="POST" onclick="twitPost();"/>
<script src="/controllers/api/postto.js"></script>