<div class="card">
  <div class="card-header">
    <h2 style="color:#065b83">Welcome, {{username}}!</h2>

  </div>
  <form class="card-body" id="new-joke-form">
    <label for="joke-content" class="form-label" style="color:#065b83">Create a New Joke:</label>
    <input class="form-input" type="text" id="joke-content" name="joke-content"/>
     
    <button type="submit" class="btn btn-primary">Create</button>
 
      <div class="form-group col-md-4">
      <label for="inputState">Category</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option value="Food">Food</option>
        <option value="Developer">Developer</option>
        <option value="Weird">Weird</option>
        <option value="Old">Old</option>
        <option value="Cool">Cool</option>
        <option value="Dad Jokes">Dad Jokes</option>
      </select>
    </div>
  </form>
</div>
<script src="/js/newJoke.js"></script>
